<ion-view>
  <ion-content>
    <nav class="fixed">
      <div class="nav-wrapper">
        <div class="col s12">
          <a class="brand-logo">SimplyDo</a>
          <ul class="side-nav">
            <li><a><i class="mdi-action-search"></i></a></li>
            <li><a><i class="mdi-action-view-module"></i></a></li>
            <li><a><i class="mdi-navigation-refresh"></i></a></li>
            <li><a><i class="mdi-navigation-more-vert"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </ion-content>
</ion-view>
