<ion-view>
  <ion-content ng-controller="TaskController">
    <div class="nav-fixed">
      <nav class="outer-div">
        <form class="nav-wrapper inner-div">
          <div class="row">
            <div class="input-field col s11 outer-div" id="search-bar">
              <i class="mdi-action-search left" id="search-icon"></i>
              <input class="inner-div left" id="search" type="text" ng-model="query">
            </div>
            <div class="col s1">
              <i class="mdi-content-add right" id="add-task" ng-click="addTask()"></i>
            </div>
          </div>
        </form>
      </nav>
    </div>
    <div class="tasks">
      <div class="row">
        <div class="card col s12 m4 l3" ng-repeat="task in tasks | filter:query as result" ng-controller="SingleTaskController" data="{{task._id}}">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" ng-src="{{task.image}}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{task.title}}<i class="mdi-navigation-more-vert right"></i></span>
            <p><a href="#" ng-repeat="tag in task.tags">{{tag}}</a></p>
          </div>
          <div class="card-reveal">
            <div class="reveal-top">
              <span class="card-title grey-text text-darken-4">{{task.title}}<i class="mdi-navigation-close right"></i></span>
              <p ng-repeat="contents in task.contents">{{contents.content}}</p>
            </div>
            <div class="card-action">
              <a href=".modal" class="waves-effect waves-light btn-flat right modal-trigger">Delete</a>
            </div>
            <div id="delete-modal" class="modal">
              <h4>Are you sure?</h4>
              <p>You can not recover the task once deleted.</p>
              <div class="action-bar">
                <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close" ng-click="deleteTask()">Delete</a>
                <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
