<ion-view ng-controller="LoginController">
  <ion-content>
    <div class="login z-depth-1">
      <h1 class="white-text">SimplyDo</h1>
    </div>
    <div class="row login-body">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12 primary-text">
            <i class="mdi-action-perm-identity prefix"></i>
            <input id="username" type="text">
            <label class="grey-text" for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 primary-text">
          <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password">
            <label class="grey-text" for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col s2 m2 l2"></div>
          <div class="input-field col s8 m8 l8">
            <a class="waves-effect waves-light btn long-btn">Login</a>
          </div>
          <div class="col s2 m2 l2"></div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
