/**********************************************
 **********************************************
 ******************* Global *******************
 **********************************************
 **********************************************/
.primary-text {
	color: #ee6e73;
}

.long-btn {
	width: 100%;
	background-color: #ee6e73;
}

.long-btn:hover {
	background-color: #ee6e73;
}

.error {
	width: 100%;
	text-align: center;
	padding-bottom: 1em;
	color: #ee6e73;
}

/**********************************************
 **********************************************
 ******************* Login ********************
 **********************************************
 **********************************************/
.login {
	background-color: #ee6e73;
	padding: 4rem 2rem 5rem 2rem;
}

.login-body {
	padding: 5rem 2rem 5rem 2rem;
}

i {
	padding-top: .4em;
}

.login h1 {
	text-align: center;
}

.input-field .prefix.active {
	color: #ee6e73;
}

.input-field label:focus {
	color: #9e9e9e;
}

#username {
	color: #9e9e9e;
	border-color: #ee6e73;
}

#username:focus {
	color: #9e9e9e;
	border-color: #ee6e73;
	box-shadow: none;
}

#password {
	color: #9e9e9e;
	border-color: #ee6e73;
}

#password:focus {
	color: #9e9e9e;
	border-color: #ee6e73;
	box-shadow: none;
}

/**********************************************
 **********************************************
 ***************** Navigation *****************
 **********************************************
 **********************************************/
.nav-wrapper {
	padding: 0px 15px 0px 15px;
}

.nav-wrapper i {
	font-size: 1.5rem;
}

#search {
	margin: 0;
	color: #FFFFFF;
}

.valign-wrapper {
	justify-content: left;
}

@media only screen and (min-width : 601px) {
	nav .nav-wrapper i {
		line-height: 1em;
	}
}


/**********************************************
 **********************************************
 ****************** Content *******************
 **********************************************
 **********************************************/