/**********************************************
 **********************************************
 ***************** Navigation *****************
 **********************************************
 **********************************************/
.nav-wrapper {
	padding: 0px 15px 0px 15px;
}

.nav-wrapper i {
	font-size: 1.5rem;
}

#search {
	margin: 0;
	color: #FFFFFF;
}

.valign-wrapper {
	justify-content: left;
}

/**********************************************
 **********************************************
 ****************** Content *******************
 **********************************************
 **********************************************/