/**********************************************
 **********************************************
 ************** Framework changes *************
 **********************************************
 **********************************************/
/*
	Materialize.min.css
 */

/*
	.row .col {
		padding: 0 0.75em;
	}
 */

/*
	ionic.css
 */

/*
	.col {
		padding: 0;
	}
 */


/**********************************************
 **********************************************
 ******************* Global *******************
 **********************************************
 **********************************************/
.primary-text {
	color: #ee6e73;
}

.long-btn {
	width: 100%;
	background-color: #ee6e73;
}

.long-btn:hover {
	background-color: #ee6e73;
}

.error {
	width: 100%;
	text-align: center;
	padding-bottom: 1em;
	color: #ee6e73;
}


/**********************************************
 **********************************************
 ******************* Login ********************
 **********************************************
 **********************************************/
.login {
	background-color: #ee6e73;
	padding: 4rem 2rem 5rem 2rem;
}

.login-body {
	padding: 5rem 2rem 5rem 2rem;
}

.login-body i {
	padding-top: .4em;
}

.login h1 {
	text-align: center;
}

.input-field .prefix.active {
	color: #ee6e73;
}

.input-field label:focus {
	color: #9e9e9e;
}

#username, #password {
	color: #9e9e9e;
	border-color: #ee6e73;
}

#username:focus, #password:focus {
	color: #9e9e9e;
	border-color: #ee6e73;
	box-shadow: none;
}


/**********************************************
 **********************************************
 ***************** Navigation *****************
 **********************************************
 **********************************************/
.outer-div {
	display: inline-flex;
}

.inner-div {
	width: 100%;
	margin: auto 1.5em;
}

#search-bar {
	padding: 0;
}

#search {
	padding: 0;
	color: #FFFFFF;
	margin-top: 1em;
	width: 98%;
}

#search-icon {
	margin-right: 1em;
}


/**********************************************
 **********************************************
 ****************** Content *******************
 **********************************************
 **********************************************/
.tasks {
	padding-right: 2em;
}

.card {
	margin: 1em 1em 1em 1em !important;
}

.card a {
	color: #9e9e9e;
}

.card a:hover {
	color: #757575;
}

.card-reveal {
	width: 100%;
}

.card-title {
	margin-bottom: 1em;
}

.reveal-bottom {
	bottom: 0px;
}

#delete-modal {
	max-height: 90%;
	max-width: 90%;
}


/**********************************************
 **********************************************
 ****************** Add Task ******************
 **********************************************
 **********************************************/
.task-form {
	padding: 2em 4em 2em 4em;
}

.task-form .input-field {
	margin: 4em 0 0 0;
}

#title, #content, #imageURL, #tags {
	color: #9e9e9e;
	border-color: #ee6e73;
}

#title:focus, #content:focus, #imageURL:focus, #tags:focus {
	color: #9e9e9e;
	border-color: #ee6e73;
	box-shadow: none;
}